

.tabs
    display: flex
    justify-content: space-around
    border-bottom: 1px solid #DCDCDC

    li
        cursor: pointer
        padding: 15px
        width: 33%
        text-align: center
        display: flex
        align-items: center
        justify-content: center

    li:first-child, li:nth-child(2)
        border-right: 1px solid #DCDCDC

    .active_tab
        background-color: #5F69C6
        color: #fff
        // border-radius: 3px 3px 0 0

    svg
        position: static
        margin: 0 10px 0 0

.edit_form

    input
        margin: 0
        font-size: 1rem
        width: 100%

    button
        width: 200px
        font-size: 1rem
        height: 40px

    textarea
        width: 100% !important
        padding: 10px
        height: 105px
        resize: none
        box-sizing: border-box
        

    textarea, select
        background-color: #efeeee
        border-radius: 4px
        box-shadow: none
        border: none

    select
        margin: 10px 0
        height: 40px
        padding: 0 0 0 10px

.bottom_section
    width: 100%
    background-color: #F5F5F5
    border-radius: 0 0 4px 4px
    height: 80px
    display: flex
    align-items: center
    justify-content: flex-end

    button
        width: 120px
        margin: 0 10px 0 0

.info_stats
    margin: 25px 0
    display: flex
    flex-direction: column
    width: 70%


@media screen and ( min-width: 768px )  

    .container
        width: 450px