.container
    display: flex
    justify-content: space-between

.header
    background-color: #5F69C6
    padding: 20px
    color: #fff
    display: flex
    justify-content: space-between
    height: 50px
    align-items: center

    ul
        position: absolute
        background: #414A9A
        right: 110px
        margin: 30px 0 0 0
        padding: 10px
        border-radius: 4px
        top: 50px

    li label
        margin: 0 0 0 10px
 

.main_body
    overflow-y: auto
    height: 70vh
    display: flex
    flex-direction: column
    margin: 20px

.filters
    background: #414A9A
    padding: 10px
    box-sizing: border-box
    border-radius: 4px
    width: 80px
    text-align: center
