.box
    display: flex
    flex-direction: column
    padding: 20px
    align-items: center

.box input
    width: 232px

.box strong
    margin: 20px
    width: 70%
    color: red
    text-align: center


.deleteBody

    h3
        font-size: 1.2rem

    p
        padding: 20px 0
    
    button
        width: 100px

.cancelBtn
    color: #535353