.leaflet-container {
  height: 200px;
}

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button, input, select {
  border: none;
  background-color: #EFEEEE;
  border-radius: 4px;
}

input, select {
  padding: 12px 12px;
  background-color: #EFEEEE;
  color: #6B6767;
  margin: 9px 0;
  font-size: 0.7rem;
  box-sizing: border-box;
}

.circle_img {
  border-radius: 20000px;
  width: 50px !important;
  height: 50px !important;
  border: 2px solid #cfcfcf;
  -o-object-fit: cover;
     object-fit: cover;
}

.error_msg {
  color: #ff0000;
  padding: 0 0 20px 0;
  font-size: 0.8rem;
}

.space {
  width: 100%;
  margin: 0;
}

.container {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0;
}
.container h2 {
  padding: 20px;
  text-align: center;
}

.blue_btn {
  background-color: #5F69C6;
}

.btn, .disabled_btn {
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.red_btn {
  background-color: #C65F5F;
}

.disabled_btn {
  cursor: not-allowed;
  background-color: #949494;
}

.discard_btn {
  background-color: grey;
}

.divider {
  border-top: 1px solid #DADADA;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 100%;
}

.items-column {
  display: flex;
  flex-direction: column;
}

.items-inline {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.circle {
  display: flex;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #5F69C6;
  border-radius: 200px;
  padding: 20px;
  height: 20px;
  width: 20px;
}

.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.floating_filters {
  width: 200px;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  bottom: 100px;
  padding: 20px;
  max-height: 400px;
  overflow: auto;
  background-color: #fff;
}
.floating_filters h5 {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
}
.floating_filters label {
  padding: 0 0 0 5px;
}

.animated {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.column {
  display: flex;
  flex-direction: column;
}

.stageListItem {
  gap: 10px;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 4px;
}

.stageListItem:hover {
  background-color: #5F69C6;
  color: #fff;
}

.white {
  color: #fff;
}

.iconButton {
  background-color: #5F69C6;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.iconButton:hover {
  background-color: #6b75d3;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .space {
    margin: 0 auto;
    width: 580px;
  }
  .container {
    margin: 20px 0 50px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}/*# sourceMappingURL=App.css.map */