.container
    display: flex
    flex-direction: column
    align-items: center

.top
    margin: 35px 0
    text-align: center

.title
    font-size: 24px
    color: #5F69C6
    text-align: center
    margin: 30px 0

.whiteBackground
    width: 200px
    height: 200px
    border-radius: 4px
    margin: auto

.profilePicture
    width: 200px
    height: 200px
    border-radius: 4px 112px 4px 4px
    object-fit: cover

.interaction
    display: flex
    flex-direction: column
.interaction button
    margin: 0 5px

.likeBtn
    width: 200px
.sendMsg
    background-color: #5F69C6
    width: 50px
    display: flex
    justify-content: center
    align-items: center

.signatureIcon
    position: absolute
    margin: 8px 0 0 62px

.buttons
    display: flex
    margin: 20px 0

@media screen and ( min-width: 768px )

    .top
        display: flex
        justify-content: space-between

    .title
        margin: 0 0 30px 5px
        text-align: left

    .interaction
        justify-content: space-between
        margin: 0 0 0 30px

    .buttons
        margin: 0
