.head
    padding: 70px 20px
    justify-content: space-between
    background: #00000075
    flex-direction: column
    gap: 27px
    text-align: center

video
    width: 100vw
    height: 100%
    position: absolute
    top: 84px
    left: 0
    object-fit: cover
    z-index: -999

.logo
    background-color: #fff
    border-radius: 500px
    box-shadow: 2px 2px 10px #0000007d
    padding: 20px
    width: 75px
    height: 75px
    transition: 0.8s

    // background: linear-gradient(90deg, rgba(16,172,221,1) 0%, rgba(227,112,86,1) 20%, rgba(255,133,20,1) 45%, rgba(229,88,198,1) 70%, rgba(18,197,154,1) 95%)

.logo:hover
    transform: scale(1.1)

.apoechos
    font-size: 30px
    color: #fff

.motto
    font-size: 20px

.motto, .apoechos, .smallText
    text-shadow: 2px 2px 7px #0000007d
    color: #fff

.all_slides
    flex-direction: column

.slide, .category, .categoryIcon, .head
    display: flex
    justify-content: center
    align-items: center

.category
    flex-direction: column
    width: 100%
    height: 100%
    transition: 0.5s
    background-color: #00000094

.category:hover
    background: unset !important

.slide
    width: 100%
    // height: 200px
    flex-direction: column
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    transition: 1s

    p
        color: #fff

.categoryIcon
    position: relative
    border-radius: 200px
    width: 50px
    height: 50px
    box-shadow: 1px 4px 15px #000

.label, .categoryIcon
    transition: 1s

.label
    margin-top: 20px
    font-weight: 200
    padding: 2px 10px
    border-radius: 200px

.slide:hover .categoryIcon
    transform: scale(1.2)

.slide:hover
    background-position: left

.description
    padding: 20px

    h1
        font-size: 1.5rem
    p
        color: #848484
        font-size: 1rem

// DESKTOP
@media screen and ( min-width: 768px )

    .apoechos
        font-size: 50px

    video
        top: 54px

    .logo
        width: 150px
        height: 150px

    .head
        flex-direction: column
        justify-content: space-between
        // padding: 20px 70px
        padding-inline: 70px
        padding-block: 80px
        text-align: center

    .all_slides
        flex-direction: row

    .slide
        width: 20vw
        // height: 70vh

    .description
        width: 60vw
        margin: 0 auto

    .profileSection

        padding: 80px
        gap: 20px
        align-items: flex-start
        justify-content: center

        h2
            text-transform: uppercase

        img
            width: 300px
            height: 300px
            object-fit: cover

        .mainContent
            width: 500px
