.allCards {
  display: flex;
  justify-content: center;
}

.userImg {
  width: 84px;
  height: 84px;
}

.decoration {
  width: 150px;
  height: 150px;
  position: relative;
  top: -131px;
  left: 220px;
}

.desktopMenu {
  margin: 20px 0 0 0;
}

.desktopMenu ul {
  display: flex;
}

.desktopMenu ul li {
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1450px;
}

.searchAndResults form {
  display: flex;
  flex-direction: row;
}

.searchAndResults input {
  background-color: #ffffff;
  color: #4F4F4F;
  font-size: 15px;
  padding: 16px 0 16px 10px;
  outline: none;
}

.searchAndResults {
  width: 100%;
}

.searchAndResults input {
  color: #ffffff;
}

.searchAndResults input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.searchAndResults input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.dropDownMenu {
  display: flex;
  align-items: center;
}

.hiddenList {
  position: absolute;
  background-color: #ffffff;
  margin: 198px 0 0 108px;
  text-align: center;
  width: 140px;
  border: 2px solid #666666;
  border-radius: 4px;
}

.hiddenList li {
  padding: 9px 0;
}

.selection {
  border: 2px solid #666666;
  border-radius: 4px;
  padding: 5px;
  margin-left: 10px;
  min-width: 130px;
  max-width: 130px;
  text-align: center;
}

.cardsAndFilter {
  width: 100%;
}

.filterBar {
  bottom: 0;
  width: 100%;
  transition: 0s;
  background-color: #ffffff;
  z-index: 9999;
  position: fixed;
}

.filterBar input {
  margin: 0;
}

.filterBar label {
  width: 50px;
}

.filterList {
  display: block;
  border-bottom: 1px solid #DBDBDB;
  padding: 20px 0;
}

.filterList li {
  padding: 3px 0 3px 50px;
}

.filterBar h2 {
  padding: 20px 0 20px 50px;
  border-bottom: 1px solid #DBDBDB;
  margin: 0;
}

.showWindow {
  position: relative;
  left: 100%;
  display: flex;
  align-items: center;
  width: 200px;
}

.showWindow p {
  font-size: 15px;
  padding: 0 0 0 5px;
}

.hideWindow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #DBDBDB;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 82px;
    background-color: #ffffff;
    z-index: 2;
  }
  .cardsContainer {
    justify-content: flex-start;
    margin-top: 130px;
  }
  .searchAndResults {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 657px;
    padding-left: 20px;
  }
  .searchAndResults input::-moz-placeholder {
    color: #4F4F4F;
  }
  .searchAndResults input::placeholder {
    color: #4F4F4F;
  }
  .searchAndResults input {
    color: #4F4F4F;
  }
  .filterBar {
    position: fixed;
    margin-top: 82px;
    width: 20%;
    border-right: 1px solid #DBDBDB;
    height: -webkit-fill-available;
  }
  .cardsAndFilter {
    width: 78%;
    float: right;
  }
  .hideWindow, .showWindow {
    position: absolute;
    bottom: 13px;
    right: 22px;
    cursor: pointer;
  }
  .showWindow {
    padding-left: 20px;
  }
  .hideWindow {
    border-top: 1px solid #DBDBDB;
    width: 100%;
    right: 0;
    bottom: 13px;
    padding: 13px 13px 0 0;
    justify-content: flex-end;
  }
  .hideWindow img {
    margin: 0 5px 0 0;
    transform: rotate(90deg) scale(1.5);
  }
}/*# sourceMappingURL=Discover.module.css.map */