.container
    background-color: #000000c9
    height: 100vh
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 1

    svg
        position: absolute
        float: right
        right: 50px
        top: 50px

.imageContent
    display: flex
    justify-content: center
    img

        // width: 60vw
        height: 90vh
        margin: 25px 0 0 0

.content header, .content
    // width: 50vw
    width: 600px
    // max-width: 800px

.content
    margin: 10vh auto
    background-color: #ffffff
    border-radius: 4px

    // width: 60vw
    // max-width: 800px
    height: auto
    max-height: 80vh

    header
        display: flex
        justify-content: space-between
        padding: 20px
        border-bottom: 1px solid #DCDCDC
        box-sizing: border-box
    svg
        position: static
        float: unset

.topBar
    padding: 20px 50px
    background-color: #F5F5F5
    font-size: 1rem
    border-radius: 4px 4px 0 0

.button_section
    display: flex
    justify-content: center
    margin: -30px 0 20px 0
    button
        font-size: 16px
        margin: 20px 5px 0 0
        width: 150px
.body
    height: auto
    overflow-y: auto
    padding: 30px

    height: auto
    max-height: 58vh

    img
        margin: 0

    svg
        position: static

@media screen and ( max-width: 768px )
    .content header, .content
        width: 80vw
