.container
    background-color: #000000c9
    height: 100vh
    width: 100%
    position: fixed
    top: 0
    left: 0

    svg
        position: absolute
        float: right
        right: 50px
        top: 50px

.imageContent
    display: flex
    justify-content: center
    img

        // width: 60vw
        height: 90vh
        margin: 25px 0 0 0

.content
    margin: 10vh 0 0 0
    background-color: #ffffff
    width: 500px
    border-radius: 4px
    padding: 0 0 20px 0


.topBar
    padding: 20px 50px
    background-color: #F5F5F5
    font-size: 1rem
    border-radius: 4px 4px 0 0

.button_section
    display: flex
    justify-content: center
    button
        font-size: 16px
        margin: 20px 5px 0 0
        width: 150px
.body
    display: flex
    justify-content: center
    transform: scale(0.8)

    img 
        margin: 0

    svg
        position: static